body {
    font-family: 'Merriweather', serif;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;

    filter: blur(5px);
    transform: scale(1.1);
}

header {
    font-family: 'Lobster', cursive;
    color: white;
    padding: 40px 20px;
    text-align: center;
    font-size: 4em;
    font-weight: normal;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
    background: none;
    box-shadow: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    padding: 20px;
    max-width: 900px;
    margin: 20px auto;
}

.game-card {
    aspect-ratio: 4 / 3;
    border-radius: 10px;
    border: 15px solid #6b4f3a;
    box-shadow:
        inset 0 0 15px rgba(0, 0, 0, 0.7),
        0 8px 16px rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center;

    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 2em;
    font-family: 'Merriweather', serif;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
    position: relative;
    overflow: hidden;

}

#tic-tac-toe {
    background-image: url('images/tic-tac-toe.jpg');
}

#battleship {
    background-image: url('images/battleship.jpg');
}

#checkers {
    background-image: url('images/checkers.jpg');
}

#chess {
    background-image: url('images/chess.jpg');
}


.game-card:hover {
    transform: scale(1.05) rotate(1deg);
    box-shadow:
        inset 0 0 20px rgba(0, 0, 0, 0.8),
        0 12px 24px rgba(0, 0, 0, 0.6);
}

.grid a {
    text-decoration: none;
    color: inherit;
}

.game-card p {
    margin: 0;
    padding: 10px;
    width: 100%;
}